VITE_SUPABASE_PROJECT_ID="vbjjqsdjgiuvgrraccsf"
VITE_SUPABASE_PUBLISHABLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZiampxc2RqZ2l1dmdycmFjY3NmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjkzNjE1MDcsImV4cCI6MjA4NDkzNzUwN30.-OPY9fsyiVBNn3shrsYHmhV--S0ENKIeZVX6eBuLjgk"
VITE_SUPABASE_URL="https://vbjjqsdjgiuvgrraccsf.supabase.co"
